*.clw
*.bct
*.rez
*.bak
*.txa
*.prj
*.bmp
*.rez
*.exe
*.ini
*.lib
*.inc
*.ico
*.png
*.xsd
*.xml
*.txa
*.shp
*.bat
*.jpg
*.$$$
*.bat
*.pdf
*.DLL
*.TXT
*.DOC
*.xls
*.xlsx
*.DOCX
*.EXP
*.BPP
*.CSV
*.lnk
*.map
*.html
*.htm
*.sql
*.atm
*.tmp
*.csv
*.scn
*.spp
/GET
/Attachments
/feeditor
/Editor Files
/PREPISOS
/REKLAMACIJE
/Install
/Ora1
/test_files
/posebnepoloznice
/slike
/dnev
/nova1